#MISCELANEOUS
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias lsa=' ls -AlhiS'
alias hello='helloScriptK.sh'
alias kirita='kiritaK.sh'
alias zeus='zeusK.sh'
alias vietnam="vietnamK.sh"
alias tree2='tree -L 2'
alias search='lsa | less -I'
alias ksh='lsa | grep -E K[.]sh$'

#GO-TO's
alias gomusik='cd / && cd musik'
alias godesk='cd / && cd desk'
alias goexe='cd / && cd usr/bin'
alias gokexe='cd / && cd /home/kira/bin'

#NEW SCRIPT
alias mkexe='mkexeK.sh'
alias mkglobal='mkglobalK.sh'
alias newsh='newshK.sh'

#BOOTING
alias newday='clear && cd /home/kira/bin/newDay && newdayK.sh'


#GIT
alias giti='git init'
alias gita='git add'
alias gits='git status'
alias gitl='git log'
alias gitlo='git log --oneline'
alias gitlon='git log --oneline --name-only'
alias gitrfl='git reflog'
alias gitos='git restore --staged'
alias gitosn='git rm --cached'
alias gitd='git diff'
alias gitc='git commit'
alias gitch='git checkout'
alias gitres='git reset'
alias gitrest='git restore'
alias gitac='git commit -a'
alias gitbr='git branch'
alias gitsh='git show'
alias gitsht='git show-ref --tags'
alias gitag='git tag'
alias gitr='git remote -v'
alias gitor='git remote add origin'
alias gitpl='git pull origin'
alias gitps='git push origin'
